*.env

my-app/node_modules/
react-next-firebase-chat-app/node_modules/
react-next-firebase-chat-app/.next/
react-shop-app/node_modules/
react-shop-app/.next/
react-frontend-study/node_modules/
onebite-typescript/section1/node_modules/
onebite-typescript/section2/node_modules/
onebite-typescript/section3/node_modules/
onebite-typescript/section4/node_modules/
onebite-typescript/section5/node_modules/
onebite-typescript/section11/node_modules/
base-webapp/setting-app/node_modules/
monorepo/add-more-common-component/apps/react-next-coupang/node_modules/
monorepo/add-more-common-component/node_modules/
