*.env

my-app/node_modules/
react-next-firebase-chat-app/node_modules/
react-next-firebase-chat-app/.next/
react-shop-app/node_modules/
react-shop-app/.next/
onebite-typescript/section1/node_modules/
onebite-typescript/section2/node_modules/
react-frontend-study/node_modules/
onebite-typescript/section3/node_modules/typescript/lib/lib.d.ts
onebite-typescript/section4/node_modules/
